<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
    ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"
></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
<script src="js/myscript.js"></script>
</head>
<div class="container">
<div class="card">
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <img src="img/covid.jpg" alt="Avatar">
    </div>
  </div>
<body ng-app="MyApp" ng-controller="MyCtrl">
<div class="container">
    <div class="jumbotron py-3"> 
        <h1 class="text-center"> {{title}} </h1>
        <h3> This guidance may change and people are advised to check often to keep up with the latest advice . </h3>
        <p class= "pt-3"> 
          There have been changes to the law which mean you can spend more time with your family and friends.  There are no time limits for exercise or leisure activities and you can now go shopping for non-essential items.  Meeting friends and family is a really important way of helping to look after our mental wellbeing and keeping in touch. 
          
        </p>
        <!-- all data -->

          <div class="row text-center">
            <div class="col-md-4">
                <div class="card bg-warning text-white">
           <div class="card-body">
               <h3> Confirmed Cases </h3>
               <h3> {{all_data.confirmed.value}}</h3>

           </div>
        </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-success text-white">
                <div class="card-body">
                    <h3> Recovered Cases </h3>
                    <h3> {{all_data.recovered.value}}</h3>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="card bg-danger text-white">
                <div class="card-body">
                    <h3> Death Cases </h3>
                    <h3> {{all_data.deaths.value}}</h3>
                </div>
            </div>
        </div>
        </div>
     
          <!-- end all data -->

        <input type="text" 
        class="form-control mt-4"
        placeholder="enter country here"
        ng-model= "c"
        ng-change= "get_c_data()"
        />

       <!-- c data -->
    
       <div class="class= container-fluid" ng-if="c_data">
       <h1 class= "text-center mt-4 text-uppercase">{{c}} status</h1>

        <div class="row text-center mt-4">
            <div class="col-md-4">
                <div class="card bg-warning text-white">
           <div class="card-body">
               <h3> Confirmed Cases </h3>
               <h3> {{c_data.confirmed.value}}</h3>

           </div>
        </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-success text-white">
                <div class="card-body">
                    <h3> Recovered Cases </h3>
                    <h3> {{c_data.recovered.value}}</h3>
                </div>
            </div>
        </div>
            <div class="col-md-4">
                <div class="card bg-danger text-white">
                <div class="card-body">
                    <h3> Death Cases </h3>
                    <h3> {{c_data.deaths.value}}</h3>
                </div>
            </div>
        </div>
        </div>
    </div>

  <!-- end all data -->

    </div>
</div>
</body>
</html>